/* -----------------------------------TAGS---------------------------------- */
body{
  background-color: #fff;
  color: #146356;
  padding: 20px;
  font-family: Lucida sans,sans-serif;
  letter-spacing: 1.5px;
}
hr{
  color: #D9534F ;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  height: 0;
  width: 50%;
}
p{
  font-family: cursive;
}
h1, h3{
   color: #146356;
   font-family: Lucida sans,sans-serif;
}
h2{
  font-family: Lucida sans,sans-serif;
}
strong{
  color: #B05B3B;
}
div{
  background-size: 100%;
  border-radius: 20px;
  margin: auto;
  padding: 8px;
}
img{
  height: 300px;
  border-radius: 60px;
  border-width: medium;
  border-color: #146356;
  float: left;
}
a{
  color: #B05B3B;
  font-size: 1em;
  background-color:  #FFF1BD;
  border-radius: 10px;
  padding: 4px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #146356;
  font-size: 24px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  border: solid #146356 4px;
  text-decoration: none;
}

.btn:hover {
  background: #FFF1BD;
  text-decoration: none;
}
/*-------------------------------------CLASS-------------------------------------- */
.education{
  background-color: #146356;
  width: 50%;
  color: white;
}
.experience{
  width: 50%;
  background-color: inherit;
  border-width: 0.5em;
  border-color: #146356;
  border-style: solid;
}
.skills{
  width: 50%;
  background-color: #FFF1BD;
}
.bio{
  line-height: 1.5em;
}
.contactForm{
  background-color: inherit;
}
.placeName{
  color: #FFF1BD;
  padding: 4px;
  padding-bottom: 10px;
}
